.layout{
  background-color: #FFF;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header{
    height: 64px;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    text-align: right;
  }
  .layoutMain{
    flex: 1 1 auto;
    display: flex;
    .sider{
      box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.12);
      min-height: 100%;
      border-right: 1px solid #f0f0f0;
      div[class~="ant-layout-sider-children"]{
        overflow: auto;
      }
      div[class~="ant-layout-sider-trigger"]{
        border-right: 1px solid #f0f0f0;
      }
      .siderMenu{
        border-right-color: #FFFFFF;
      }
    }
    .contentWrapper{
      flex: 1 1 auto;
      display: flex;
      .breadcrumb{
        display: flex;
        color: black;
        padding: 1em;
        height: 50px;
        flex: 0 0 auto;
        background-color: #FAFAFA;
        box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.12);
      }
      .breadcrumbSkeleton{
        @extend .breadcrumb;
        padding: 0;
      }
      .content{
        flex: 1 1 auto;
        background-color: #FFFFFF;
        // section 放置到每个页面进行控制
        section{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.warp {
  color: antiquewhite;
}
