.spin{
  width: 100%;
  height: 100%;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //align-content: center;
  //padding-bottom: 100px;
  //position: fixed;
  //z-index: 9999;
  //background-color: rgba(0,0,0,0.15);
  max-height: 100%;
  &>div[class~="ant-spin-container"]{
    width: 100%;
    height: 100%;
    max-height: 100% !important;
  }
}
